<!DOCTYPE html>
<html>
  <head>
    <title>登录聊天室| 聊天室</title>
  </head>
  <body>
	<h1>请先登录</h1>
	<form action='/check.html' method="get">
		<input type="text" name="username">
		<input type="submit" vaule='进入聊天室'>
	</form>
  </body>
</html>
